.botao {
  padding: 1rem 2rem;
  border: none;
  border-radius: 6.1875rem;
  background: var(--cor-terciaria, #ffde00);
  color: var(--cor-primaria-900, #18595d);
  font-size: 1.125rem;
  line-height: 120%;
}

.botao:hover {
  background: var(--cor-primaria-600, #23A4B8); 
  color: var(--cor-secundaria, #FDFCF4);
  cursor: pointer;
}

.botao:active {
  background: var(--cor-primaria-900, #18595D);
  color: var(--cor-secundaria, #FDFCF4);
}