@media screen and (min-width: 320px) {
  .block {
    display: block;
  }

  .none {
    display: none;
  }

  .dropdown__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    /* max-width: 39rem; */
  }

  .dropdown__pergunta {
    display: flex;
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: left;
    border-radius: 0.5rem;
    border: 1px solid var(--cor-secundaria, #fdfcf4);
    background: var(--cor-primaria, #1d7c87);
    cursor: pointer;
  }

  .dropdown__pergunta-fechada {
    background: var(--cor-primaria, #1d7c87);
  }

  .dropdown__pergunta-aberta {
    background: var(--cor-primaria-900, #18595d);
  }

  .dropdown__pergunta-titulo {
    flex: 1 0 0;
    align-self: center;
    font-size: 1.25rem;
  }

  .dropdown__pergunta-titulo--inpi {
    font-size: 1.25rem;
  }

  .dropdown__pergunta-seta {
    transition: transform 0.3s ease;
    align-self: center;
    rotate: 180deg;
    width: 1.5rem;
    height: 1.5rem;
  }

  .rotacionar180 {
    transform: rotate(180deg);
  }

  .dropdown__resposta {
    display: none; /* Esconde as respostas inicialmente */
    padding: 0;
  }

  .dropdown__texto,
  .dropdown__li {
    line-height: 140%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-secundaria, #fdfcf4);
  }

  .dropdown__resposta--inpi p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 120%;
    color: var(--cor-secundaria, #fdfcf4);
  }

  .dropdown__resposta-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* height: 25.3125rem; */
  }

  .dropdown__ul {
    font-family: "Poppins", sans-serif;
    margin-left: 0.75rem;
  }

  .dropdown__li::before {
    content: "•"; /* Conteúdo do marcador personalizado */
    display: inline-block;
    width: 0.5rem;
    margin-left: -0.5rem; /* Ajuste conforme necessário */
    /* Outros estilos conforme necessário */
  }

  .highlight {
    background-color: var(
      --cor-terciaria,
      #ffde00
    ); /* ou qualquer outra cor de sua escolha */
    color: var(--cor-primaria-900, #18595d);
  }
}

@media screen and (min-width: 989px) {
  .dropdown__pergunta-titulo {
    font-size: 1.5625rem;
  }

  .dropdown__pergunta-titulo--inpi {
    font-size: 1.25rem;
  }

  .dropdown__resposta p,
  .dropdown__resposta li {
    font-size: 1.125rem;
  }

  .dropdown__resposta--inpi p {
    font-size: 0.75rem;
  }

  .dropdown__resposta--inpi {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .dropdown__resposta {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .dropdown__resposta {
    padding: 0 1.5rem 0;
  }

  .dropdown__pergunta-seta {
    transition: transform 0.3s ease;
  }

  .rotacionar180 {
    transform: rotate(180deg);
  }
}
