@media screen and (min-width: 320px) {
  .faq__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 39rem;
  }

  .faq__pergunta {
    display: flex;
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: left;
    border-radius: 0.5rem;
    border: 1px solid var(--cor-secundaria, #fdfcf4);
    background: var(--cor-primaria, #1d7c87);
    cursor: pointer;
  }

  .faq__pergunta-fechada {
    background: var(--cor-primaria, #1d7c87);
  }

  .faq__pergunta-aberta {
    background: var(--cor-primaria-900, #18595d);
  }

  .faq__pergunta-titulo {
    flex: 1 0 0;
    align-self: center;
    font-size: 1.25rem;
  }

  .faq__pergunta-titulo--inpi {
    font-size: 1.25rem;
  }

  .faq__pergunta-seta {
    transition: transform 0.3s ease;
    align-self: center;
  }

  .rotacionar180 {
    transform: rotate(180deg);
  }

  .faq__resposta {
    display: none; /* Esconde as respostas inicialmente */
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    color: var(--cor-secundaria, #fdfcf4);
  }

  .faq__resposta--inpi {
    font-size: 0.75rem;
  }

  .faq__resposta-img {
    display: block;
    margin: 0 auto;
    width: 36.375rem;
    height: 25.3125rem;
  }

  .faq__ul {
    font-family: "Poppins", sans-serif;
    margin-left: 0.75rem;
  }

  .faq__ul li::before {
    content: "•"; /* Conteúdo do marcador personalizado */
    display: inline-block;
    width: 1em;
    margin-left: -1em; /* Ajuste conforme necessário */
    /* Outros estilos conforme necessário */
  }

  .highlight {
    background-color: yellow; /* ou qualquer outra cor de sua escolha */
  }  
}

@media screen and (min-width: 768px) {
  .faq__item {
    max-width: 38.95rem;
  }
}

@media screen and (min-width: 989px) {
  .faq__item {
    max-width: 55.809rem;
  }

  .faq__pergunta-titulo {
    font-size: 1.5625rem;
  }

  .faq__pergunta-titulo--inpi {
    font-size: 1.25rem;
  }

  .faq__resposta {
    font-size: 1.125rem;
  }

  .faq__resposta--inpi {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .faq__item {
    max-width: 59rem;
  }
}

@media screen and (min-width: 1440px) {
  .faq__item {
    max-width: 60rem;
  }

  .faq__resposta {
    padding: 0 1.5rem 0;
  }

  .faq__pergunta-seta {
    transition: transform 0.3s ease;
  }

  .rotacionar180 {
    transform: rotate(180deg);
  }
}
