@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');

@font-face {
  src: url(../fonts/GOTHICB.TTF);
  font-family: 'Century Gothic', 'Lexend';
}

h1,
h2,
h3,
h4,
h5,
a,
button {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
a,
label {
  color: var(--cor-secundaria, #FDFCF4);
}

p, a, button {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Century Gothic', 'Lexend';
}
