@media screen and (min-width: 320px) {
  .lembrete {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 4rem;
  }

  .lembrete--precos, .lembrete--duvidas {
    padding: 4rem var(--padding-320);
  }

  .lembrete__titulo {
    font-size: 1.5625rem;
    text-align: center;
  }

  .lembrete__botao {
    width: 17.5rem;
  }
}

@media screen and (min-width: 768px) {
  .lembrete {
    padding: 4rem var(--padding-768);
  }

  .lembrete--duvidas {
    padding: 4rem 0;
  }

  .lembrete__titulo {
    font-size: 2.4375rem;
  }
}

@media screen and (min-width: 989px) {
  .lembrete {
    padding: 4.5rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .lembrete {
    padding: 4.5rem 0 2rem;
  }

  .lembrete--precos {
    padding: 4.5rem 0;
  }

  .lembrete--duvidas {
    padding: 4.5rem 0;
  }
}
