.social-link {
  fill: var(--cor-terciaria, #ffde00);
}

.social-link:hover {
  fill: var(--cor-secundaria, #fdfcf4);
}

.social-link:active {
  fill: var(--cor-primaria-200, #82dae5);
}

.botao:hover .social-link-path {
  fill: var(--cor-secundaria, #fdfcf4);
}

.botao:active .social-link-path {
  fill: var(--cor-primaria-200, #82dae5);
}


