.social-link {
  fill: var(--cor-terciaria, #ffde00);
}

.social-link:hover {
  fill: var(--cor-secundaria, #fdfcf4);
}

.social-link:active {
  fill: var(--cor-primaria-200, #82dae5);
}

.duvidas__botao-busca:hover .social-link-path {
  fill: var(--cor-secundaria, #fdfcf4);
}

.duvidas__botao-busca:active .social-link-path {
  fill: var(--cor-primaria-200, #82dae5);
}


