@media screen and (min-width: 320px) {
  .duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2rem;
    gap: 2rem;
  }

  .duvidas__titulo {
    font-size: 1.5625rem;
    text-align: center;
    max-width: 18.5rem;
  }

  .duvidas__perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .duvidas {
    padding: 2.5rem 4rem;
    gap: 4rem;
  }

  .duvidas__titulo {
    font-size: 2.4375rem;
    max-width: unset;
  }
}

@media screen and (min-width: 989px) {
  .duvidas {
    padding: 4rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .duvidas {
    padding: 4rem 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .duvidas {
    padding: 4rem 15rem;
  }
}
