@media screen and (min-width: 320px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .info__image-container {
    position: relative;
    width: 100%;
    height: 26.5rem;
  }

  .info__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24.62581rem;
    height: 24.60244rem;
    user-select: none; 
  }

  .info__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding: 0 2rem;
  }

  .info__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .info__titulo {
    font-size: 1.5625rem;
  }

  .info__titulo-principal {
    font-size: 1.9375rem;
  }

  .info__subtitulo {
    font-size: 1.25rem;
  }

  .info__detalhes {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--cor-secundaria, #fdfcf4);
  }

  .info__titulo--destaque {
    border-bottom: 0.125rem solid var(--cor-terciaria, #ffde00);
  }
}

@media screen and (min-width: 768px) {
  .info {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: var(--padding-768);
  }

  .info__image-container {
    width: 100%;
    height: 49rem;
    min-width: 374px;
  }

  .info__image {
    position: absolute;
    top: 0;
    right: 0;
    left: unset;
    transform: unset;
    width: 48.031rem;
    height: 47.98544rem;
  }

  .info__conteudo {
    gap: 4rem;
    padding: 0;
  }
}

@media screen and (min-width: 989px) {
  .info {
    gap: 2.5rem;
    padding-right: var(--padding-989);
  }

  .info__image-container {
    width: 29.8125rem;
    height: 57.875rem;
    min-width: 477px;
  }

  .info__image {
    width: 56.91225rem;
    height: 56.85825rem;
  }

  .info__conteudo {
    gap: 8rem;
  }

  .info__item {
    gap: 2rem;
  }

  .info__titulo {
    font-size: 1.9375rem;
  }

  .info__titulo-principal {
    font-size: 2.3375rem;
  }

  .info__titulo--destaque {
    border-bottom-width: 0.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .info {
    align-self: stretch;
    gap: 2.5rem;
    padding-right: var(--padding-1024);
  }

  .info__image-container {
    width: 100%;
    height: 59rem;
    min-width: 491px;
  }
  
  .info__image {
    width: 57.91213rem;
    height: 57.85719rem;
  }

  .info__conteudo {
    width: 28.3125rem;
  }

  .info__item {
    gap: 2.5rem;
  }

  .info__titulo {
    font-size: 1.8375rem;
  }
}

@media screen and (min-width: 1440px) {
  .info {
    gap: 2.5rem;
    padding-right: var(--padding-1440);
    align-self: unset;
  }

  .info__image-container {
    width: 43.75rem;
    height: 67.5625rem;
    min-width: 700px;
  }

  .info__image {
    width: 65.875rem;
    height: 65.8125rem;
  }

  .info__conteudo {
    width: unset;
  }

  .info__titulo {
    font-size: 1.9375rem;
  }

  .info__titulo-principal {
    font-size: 2.4375rem;
  }
}
