.faq__item {
  width: 100%;
}

.faq__resposta {
  display: none; /* Esconde as respostas inicialmente */
  font-size: 0.75rem;
  font-weight: 500;
  padding: 1.5rem 1.5rem 0;
  color: var(--cor-secundaria, #fdfcf4);
}

.faq__pergunta {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: left;
  border-radius: 0.5rem;
  border: 1px solid var(--cor-secundaria, #fdfcf4);
  background: var(--cor-primaria, #1d7c87);
  cursor: pointer;
}

.faq__pergunta-fechada {
  background: var(--cor-primaria, #1d7c87);
}

.faq__pergunta-aberta {
  background: var(--cor-primaria-900, #18595d);
}

.faq__pergunta-titulo {
  flex: 1 0 0;
  align-self: center;
  font-size: 1.25rem;
}

.faq__pergunta-seta {
  transition: transform 0.3s ease;
}

.rotacionar180 {
  transform: rotate(180deg);
}
