@media screen and (min-width: 768px) {
  .dropdown__pergunta-titulo {
    font-size: 1.5625rem;
  }

  .dropdown__pergunta-titulo--inpi {
    font-size: 1.25rem;
  }

  .dropdown__resposta p,
  .dropdown__resposta li {
    font-size: 1.125rem;
  }
}
