@media screen and (min-width: 768px) {
  .faq__pergunta-titulo {
    font-size: 1.5625rem;
  }

  .faq__pergunta-titulo--inpi {
    font-size: 1.25rem;
  }

  .faq__resposta p,
  .faq__resposta li {
    font-size: 1.125rem;
  }
}
