@media screen and (min-width: 320px) {
  .outros-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2rem;
    gap: 2.5rem;
  }

  .outros-servicos__container-titulo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .outros-servicos__titulo {
    font-size: 1.5625rem;
  }

  .outros-servicos__subtitulo {
    font-weight: 700;
    color: var(--cor-secundaria, #fdfcf4);
  }

  .outros-servicos__planos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .outros-servicos__plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-secundaria, #fdfcf4);
    border: none;
    border-radius: 1rem;
    width: calc(50% - 0.75rem);
    min-width: 18.5rem;
  }

  .outros-servicos__plan-container-titulo {
    background: var(--cor-primaria-900, #23a4b8);
    padding: 1.5rem 1rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: -webkit-fill-available;
  }

  .outros-servicos__plan-titulo {
    font-size: 1rem;
    text-align: center;
  }

  .outros-servicos__plan-container-descricao {
    padding: 1.5rem 1rem;
  }

  .outros-servicos__plan-descricao {
    font-size: 0.6875rem;
    color: var(--cor-secundaria-700, #5a5953);

    text-align: center;
  }

  .outros-servicos__plan-divisor {
    border-top: 0.0625rem solid var(--cor-secundaria-300, #dad9d1);
    width: 6rem;
  }

  .outros-servicos__plan-container-preco {
    background: var(--cor-secundaria, #fdfcf4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    padding: 0.5rem 0.62rem;
    margin-bottom: 1rem;
  }

  .outros-servicos__plan-preco {
    color: var(--cor-primaria, #1d7c87);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 125%;
  }

  .outros-servicos__plan-preco-descricao {
    color: var(--cor-secundaria-700, #5a5953);
    font-size: 0.6875rem;
    line-height: 120%;
  }
}

@media screen and (min-width: 768px) {
  .outros-servicos {
    padding: 4rem;
  }

  .outros-servicos__titulo {
    font-size: 2.4375rem;
  }

  .outros-servicos__subtitulo {
    font-size: 1.125rem;
  }

  .outros-servicos__planos {
    gap: 3.56rem 1.5rem;
  }

  .outros-servicos__plan {
    width: calc(33.3% - 1rem);
    min-width: 12.333rem;
  }

  .outros-servicos__plan-container-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .outros-servicos__plan:nth-child(-n + 3)
    > .outros-servicos__plan-container-titulo {
    height: 3.563rem;
  }

  .outros-servicos__plan:nth-child(n + 4)
    > .outros-servicos__plan-container-titulo {
    height: 2.375rem;
  }

  .outros-servicos__plan-container-descricao {
    height: 7.313rem;
  }
}

@media screen and (min-width: 989px) {
  .outros-servicos {
    padding: 4rem 3rem;
  }

  .outros-servicos__planos {
    gap: 3.56rem 2.5rem;
  }

  .outros-servicos__plan {
    width: calc(33.3% - 1.66rem);
    min-width: 16.938rem;
  }

  .outros-servicos__plan:nth-child(-n + 3)
    > .outros-servicos__plan-container-titulo,
  .outros-servicos__plan:nth-child(n + 4)
    > .outros-servicos__plan-container-titulo {
    height: 2.375rem;
  }

  .outros-servicos__plan-container-titulo {
    padding: 1.5rem 1.5rem 1rem;
  }

  .outros-servicos__plan-container-descricao {
    height: 4.875rem;
  }
}

@media screen and (min-width: 1024px) {
  .outros-servicos {
    padding: 4rem 2.5rem;
  }

  .outros-servicos__plan {
    width: calc(33.3% - 1.66rem);
    min-width: 18rem;
  }
}

@media screen and (min-width: 1440px) {
  .outros-servicos {
    padding: 4rem 15rem;
  }

  .outros-servicos__planos {
    max-width: 103.344rem;
  }

  .outros-servicos__plan {
    width: calc(33.3% - 1.66rem);
    min-width: 18.313rem;
  }
}