@media screen and (min-width: 320px) {
  .intro {
    padding: 5rem var(--padding-768) 1.5rem;
  }

  .intro__titulo {
    font-size: 1.9375rem;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 5rem var(--padding-768) 4rem;
  }

  .intro__titulo {
    font-size: 3.0625rem;
  }
}

@media screen and (min-width: 989px) {
  .intro {
    padding: 7.5rem var(--padding-989) 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 7.5rem var(--padding-1024) 4rem;
    width: 59rem;
  }
}

@media screen and (min-width: 1440px) {
  .intro {
    padding: 7.5rem var(--padding-1440) 4rem;
    width: unset;
  }
}
