@media screen and (min-width: 320px) {
  .carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem var(--padding-320) 1.5rem;
  }

  .carrinho__dropdown-container {
    gap: 2.5rem;
  }

  .carrinho__item-escolhido {
    gap: 2.5rem;
  }

  .carrinho__item-sugerido {
    gap: 2.5rem;
  }

  .carrinho__secao {
    padding: 2.5rem 0;
    align-items: flex-start;
    width: 100%;
  }

  .carrinho__titulo-primeira-escolha,
  .carrinho__titulo-sugestao {
    padding: 0.625rem 1rem;
    align-self: flex-start;
  }

  .carrinho__titulo-primeira-escolha {
    font-size: 1.9375rem;
  }

  .carrinho__titulo-sugestao {
    font-size: 1.25rem;
  }

  .dropdown__pergunta-titulo {
    font-size: 1.25rem;
  }

  .descricao-plano {
    margin-bottom: 1rem;
  }

  .descricao-plano--sugerido {
    margin-bottom: 1rem;
  }

  .dropdown__resposta {
    margin-top: -1rem;
  }

  .descricao-plano__item {
    color: var(--cor-secundaria, #FDFCF4);
  }

  .descricao-plano__titulo,
  .descricao-plano__item {
    line-height: 120%;
  }

  .descricao-plano__item::before {
    width: 0.7rem;
    margin-left: -0.2rem;
    margin-right: 0.2rem;
  }

  .termos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1.5rem 0;
    margin-bottom: 1rem;
  }

  .termos__texto-destaque {
    border-bottom: 0.0625rem solid var(--cor-terciaria, #ffde00);
  }

  .termos__texto-destaque:hover {
    border-bottom-color: var(--cor-primaria-200, #82dae5);
  }

  .termos__texto-destaque:active {
    color: var(--cor-primaria-200, #82dae5);
  }

  .botoes__container {
    display: flex;
    width: 100%;
    max-width: 18.5rem;
    justify-content: space-between;
    align-self: flex-end;
    
  }

  .botoes__container--sugerido {
    margin-top: 1rem;
    justify-content: center;
    width: unset;
    max-width: unset;
  }

  .carrinho__divisoria {
    width: 100%;
    height: 0.1875rem;
    background: var(--cor-terciaria, #ffde00);
    margin: 0.5rem 0;
  }

  .plano__nao-encontrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .plano__texto-nao-encontrado {
    font-size: 2.4375rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .carrinho {
    padding: 5rem var(--padding-768) 1.5rem;
  }

  .carrinho__titulo-primeira-escolha {
    font-size: 2.4375rem;
  }

  .carrinho__titulo-sugestao {
    font-size: 1.5625rem;
  }

  .botoes__container {
    align-self: flex-end;
  }

  .botoes__container--sugerido {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 989px) {
  .carrinho {
    padding: 7.5rem var(--padding-989) 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .carrinho {
    padding: 7.5rem var(--padding-1024) 1.5rem;
    width: 59rem;
  }

  .carrinho__secao {
    align-items: center;
    width: 59rem;
  }

  .descricao-plano {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .descricao-plano {
    padding-left: 0;
  }

  .descricao-plano--sugerido {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .carrinho {
    padding: 7.5rem var(--padding-1440) 1.5rem;
    width: unset;
  }

  .carrinho__secao {
    width: 100%;
  }

  .carrinho__titulo-primeira-escolha {
    font-size: 1.9375rem;
    padding: 0.625rem 1rem;
  }

  .descricao-plano--sugerido {
    padding-left: 1.5rem;
  }
}
