@media screen and (min-width: 320px) {
  /* Customize the label (the termos__label) */
  .termos__label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .termos__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .termos__checkbox-customizado {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    border: 3px solid var(--cor-secundaria, #fdfcf4);
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .termos__label:hover input ~ .termos__checkbox-customizado {
    background-color: transparent;
  }

  /* When the checkbox is checked, add a blue background */
  .termos__label input:checked ~ .termos__checkbox-customizado {
    background-color: transparent;
  }

  /* Create the termos__checkbox-customizado/indicator (hidden when not checked) */
  .termos__checkbox-customizado:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the termos__checkbox-customizado when checked */
  .termos__label input:checked ~ .termos__checkbox-customizado:after {
    display: block;
  }

  /* Style the termos__checkbox-customizado/indicator */
  .termos__label .termos__checkbox-customizado:after {
    left: 4.5px;
    top: 1.3px;
    width: 5px;
    height: 8px;
    border: solid var(--cor-secundaria, #fdfcf4);
    border-radius: 1px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Parte para o RADIO */
.carrinho__opcao-label {
  cursor: pointer;
}

/* Esconder o input padrão */
.carrinho__opcao-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estilo da caixa que envolve o input */
.carrinho__opcao-label div {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  user-select: none;
}

/* Criar um círculo personalizado */
.carrinho__opcao-radio-personalizado {
  position: absolute;
  top: 0;
  left: 0;
  border: 1.75px var(--cor-secundaria, #fdfcf4) solid;
  height: calc(1.5rem - 3.2px);
  width: calc(1.5rem - 3.2px);
  background-color: transparent;
  border-radius: 50%;
}

/* Quando o rádio está marcado */
.carrinho__opcao-label input:checked ~ .carrinho__opcao-radio-personalizado {
  background-color: transparent;
}

/* Estilo do indicador interno */
.carrinho__opcao-label .carrinho__opcao-radio-personalizado:after {
  content: "";
  position: absolute;
  display: none;
}

/* Mostrar o indicador interno quando marcado */
.carrinho__opcao-label
  input:checked
  ~ .carrinho__opcao-radio-personalizado:after {
  display: block;
}

/* Estilo do indicador interno */
.carrinho__opcao-label .carrinho__opcao-radio-personalizado:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
}

.carrinho__opcao-label
  input:focus-visible
  + .carrinho__opcao-radio-personalizado,
.termos__label input:focus-visible + .termos__checkbox-customizado {
  /* Adicione seu estilo de foco aqui, como uma borda ou uma sombra */
  box-shadow: 0 0 0 2px var(--cor-terciaria, #ffde00);
}

.error-message {
  display: none; /* inicialmente oculto */
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--cor-vermelha, #eb5757);
  background: var(--cor-vermelha, #eb5757);
  width: fit-content;
  font-family: Poppins;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--cor-secundaria, #fdfcf4);
}

input[type="file"] {
  max-width: fit-content;
}

.hidden {
  display: none;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.contato-formulario__input--upload {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.62rem;
  font-size: 0.75rem;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}

.contato-formulario__input--upload:hover {
  background: var(--cor-primaria-600, #23a4b8);
}

.contato-formulario__input--upload:active {
  background: var(--cor-primaria-900, #18595d);
}

.custom-file-upload__container-arquivos {
  flex-direction: column;
  gap: 1rem;
}

.loading-bar-file {
  background: var(--cor-terciaria, #ffde00);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  width: fit-content;

  color: var(--cor-primaria-900, #18595d);
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 0.9rem */
}

.file-name__container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background: var(--cor-secundaria, #fdfcf4);
  width: fit-content;

  color: var(--cor-primaria-900, #18595d);
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 0.9rem */
}

.remove-file-btn {
  cursor: pointer;
}
